@page "/dailyReports"
@* inject ReportingService ReportingService *@
@* inject IJSRuntime JSRuntime; *@

<div>
    <h1>Отчет за сутки годного</h1>
</div>

<div class="alert alert-secondary mt-4" role="alert">
    <EditForm Model="_meltsPeriod">
        <div class="form-row">
            <div class="form-group col-lg-2">
                <label for="dataStart">Начало периода</label>
                <InputDate id="dataStart" class="form-control" @bind-Value="@_meltsPeriod.PeriodStart"/>
                @* <input type="date" class="form-control" id="dataStart" @bind="@_meltsPeriod.PeriodStart" /> *@
            </div>
            <div class="form-group col-lg-2">
                <label for="dataFinish">Конец периода</label>
                <InputDate id="dataFinish" class="form-control" @bind-Value="@_meltsPeriod.PeriodFinish"/>
                @* <input type="datetime-local" class="form-control" id="dataFinish" @bind="@_finishPeriod" /> *@
            </div>
            <div class="form-group col-lg-2" style="text-align: left; vertical-align: middle;">
                <div style="height: 32px">&nbsp;</div>
                <button id="showReport" type="button" class="btn btn-primary" @onclick="@GetReportByPeriod">Сформировать</button>
            </div>
            
            <div class="form-group col-md-auto">
                <div style="height: 32px">&nbsp;</div>
                <button id="showCurrentShift" type="button" class="btn btn-primary" @onclick="@GetReportByToday">За текущие сутки</button>
            </div>
            <div class="form-group col-md-auto" style="text-align: center; vertical-align: middle;">
                <div style="height: 32px">&nbsp;</div>
                <button id="showPrevShift" type="button" class="btn btn-primary" @onclick="@GetReportByYesterday">За предыдущие сутки</button>
            </div>
        </div>
   </EditForm>
</div>

<div id="dailyReport" style="display: @_showReport">
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <th scope="col" style="vertical-align: middle; width: 190px;">Дата</th>
                        @* <th scope="col" style="vertical-align: middle; width: 190px;">Конец<br/>периода</th> *@
                        <th scope="col" style="vertical-align: middle; width: 100px;">Кол-во<br/>бунтов</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Вес<br/>годного</th>
                        <th scope="col" style="vertical-align: middle; width: 150px;">Итого кол-во<br/>годного</th>
                        <th scope="col" style="vertical-align: middle; width: 150px;">Итого вес<br/>годного</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">По<br/>часам</th>
                        <th scope="col" style="vertical-align: middle; width: 15px;">&nbsp;</th>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div style="height:630px; overflow:auto;">
                    <table class="table table-hover">
                        <tbody>
                        @foreach (DailyReport item in _reportList)
                        {
                            <tr style="height: 63px;">
                                <td class="align-middle" style="width: 190px;">
                                    @item.Date.ToString("d")
                                </td>
                                @* <td class="align-middle" style="width: 190px;">
                                    @item.PeriodEnd.ToString("dd-MM-yyyy HH:mm")
                                </td> *@
                                <td class="align-middle" style="width: 100px;">@item.CoilsCount</td>
                                <td class="align-middle" style="width: 100px;">@item.CoilsWeight</td>
                                <td class="align-middle" style="width: 150px;">@item.TotalCoils</td>
                                <td class="align-middle" style="width: 150px;">@item.TotalWeight</td>
                                @if(item.CoilsCount>0)
                                {
                                    <td class="align-middle" style="width: 100px;">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" @onclick="@(() => { PrepareCoils(item.PeriodStart, item.PeriodEnd); })">&#10050;</button>
                                    </td>
                                }
                                else
                                {
                                    <td class="align-middle" style="width: 100px;">&nbsp;</td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Производство по часам за @_meltInfo.StartDate.ToString("d") с 00:00 по 24:00</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="viewMelt">
                    @* <div class="h3">Плавка №@_currentMelt[0].MeltNumber диаметр @_currentMelt[0].Diameter от @_currentMelt[0].DateReg</div> *@
                    <table>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <th scope="col" style="vertical-align: middle; width: 190px;">Дата</th>
                                        <th scope="col" style="vertical-align: middle; width: 190px;">Час</th>
                                        <th scope="col" style="vertical-align: middle; width: 150px;">Кол-во<br/>годного</th>
                                        <th scope="col" style="vertical-align: middle; width: 150px;">Вес<br/>годного</th>
                                        <th scope="col" style="vertical-align: middle; width: 150px;">Итого кол-во<br/>годного</th>
                                        <th scope="col" style="vertical-align: middle; width: 150px;">Итого вес<br/>годного</th>
                                        <th scope="col" style="vertical-align: middle; width: 15px;">&nbsp;</th>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="height:630px; overflow:auto;">
                                    <table class="table table-hover">
                                        <tbody>
                                        @foreach (MeltsForPeriod item in _meltsList)
                                        {
                                            <tr>
                                                <td class="align-middle" style="width: 190px;">
                                                    @item.WeightingData.ToString("dd-MM-yyyy")
                                                </td>
                                                <td class="align-middle" style="width: 190px;">
                                                    @item.WeightingHourStart.ToString("D2"):00 &mdash; @item.WeightingHourFinish.ToString("D2"):00
                                                </td>
                                                <td class="align-middle" style="width: 150px;">@item.CoilsCount</td>
                                                <td class="align-middle" style="width: 150px;">@item.WeightFact</td>
                                                <td class="align-middle" style="width: 150px;">@item.TotalCoilsCount</td>
                                                <td class="align-middle" style="width: 150px;">@item.TotalWeightFact</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
