@page "/ingotsWeightDay"
@inject ReportingService ReportingService
@* inject IJSRuntime JSRuntime; *@

<h1>Отчет по весу заготовок</h1>

<div class="alert alert-secondary mt-4" role="alert">
    <EditForm Model="_meltsWeight">
    <div class="form-row">
        <div class="form-group col-lg-2">
            <label for="dataStart">Начало периода</label>
            <InputDate id="dataStart" class="form-control" @bind-Value="@_meltsWeight.PeriodStart"/>
        </div>
        <div class="form-group col-lg-2">
            <label for="dataFinish">Конец периода</label>
            <InputDate id="dataFinish" class="form-control" @bind-Value="@_meltsWeight.PeriodEnd"/>
        </div>
        <div class="form-group col-lg-2" style="text-align: left; vertical-align: middle;">
            <div style="height: 32px">&nbsp;</div>
            <button id="showReport" type="button" class="btn btn-primary" @onclick="@GetMelts">Сформировать</button>
        </div>

        <div class="form-group col-lg-2">
            <label for="meltNumber">Номер плавки:</label>
            <InputText id="meltNumber" class="form-control" @bind-Value="@_meltsWeight.MeltNumber"/>
        </div>
        <div class="form-group col-md-auto" style="text-align: center; vertical-align: middle;">
            <div style="height: 32px">&nbsp;</div>
            <button id="showReportByMelt" type="button" class="btn btn-primary" @onclick="@GetMelt">Сформировать @* <span style="display: @_allowDownload" class="badge badge-light oi oi-cloud-download"></span> *@ </button>
            @* <a href="@_download" style="display: @_allowDownload">Скачать</a> *@
        </div>
    </div>
    </EditForm>
</div>

<div id="ingotsWeight" style="display: @_showReport">
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <th scope="col" style="vertical-align: middle; width: 100px;">№<br/>плавки</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Профиль</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Диаметр<br/>профиля</th>
                        <th scope="col" style="vertical-align: middle; width: 180px;">Время<br>взвешивания</th>
                        <th scope="col" style="vertical-align: middle; width: 150px;">Марка<br/>стали</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Сечение<br/>заготовки</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Длина<br/>заготовки</th>
                        <th scope="col" style="vertical-align: middle; width: 200px;">Стандарт</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Код<br/>продукции</th>
                        <th scope="col" style="vertical-align: middle; width: 120px;">Заказчик</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Кол-во<br/>заготовок</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Вес<br/>заготовок</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Заготовки</th>
                        <th scope="col" style="vertical-align: middle; width: 20px;">&nbsp;</th>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div style="height:600px; overflow:auto;">
                    <table class="table table-hover">
                        <tbody>
                        @if(_meltsList.Count > 0)
                        {
                            @foreach (IngotsWeights item in _meltsList)
                            {
                                <tr>
                                    <th class="align-middle" scope="row" style="width: 100px;">@item.Melt</th>
                                    <td class="align-middle" style="width: 100px;">@item.Profile</td>
                                    <td class="align-middle" style="width: 100px;">@item.Diameter.ToString("F1")</td>
                                    <td class="align-middle" style="width: 180px;">
                                        @item.TimeBegin.ToString("dd-MM-yyyy HH:mm:ss")<br/>
                                        @item.TimeEnd.ToString("dd-MM-yyyy HH:mm:ss")
                                    </td>
                                    <td class="align-middle" style="width: 150px;">@item.SteelGrade</td>
                                    <td class="align-middle" style="width: 100px;">@item.IngotProfile</td>
                                    <td class="align-middle" style="width: 100px;">@item.IngotLength</td>
                                    <td class="align-middle" style="width: 200px;">@item.Standart</td>
                                    <td class="align-middle" style="width: 100px;">@item.ProductCode</td>
                                    <td class="align-middle" style="width: 120px;">@item.Customer</td>
                                    <td class="align-middle" style="width: 100px;">@item.CoilsCount</td>
                                    <td class="align-middle" style="width: 100px;">@item.WeightTotal</td>
                                    <td class="align-middle" style="width: 100px;">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" @onclick="@(() => { GetIngots(item.Melt); })">&#10050;</button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            _allowDownload = "none";
                            <tr>
                                <th class="align-middle" scope="row" style="width: 700px;">Данные по плавке не найдены</th>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>


@* Всплывающее окно с данными о плавке *@
<div class="modal fade bd-example-modal-lg" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Список заготовок плавки №@_meltsWeight.MeltNumber
                    <span class="alert alert-primary" role="alert" style="margin-left: 15px; display: @_allowDownload"><a href="@_download">Скачать</a></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="viewIngot">
                    @* <div class="h3">Плавка №@_currentMelt[0].MeltNumber диаметр @_currentMelt[0].Diameter от @_currentMelt[0].DateReg</div> *@
                    <table>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <th scope="col" style="vertical-align: middle; width: 100px;">№<br/>плавки</th>
                                        <th scope="col" style="vertical-align: middle; width: 100px;">Профиль</th>
                                        <th scope="col" style="vertical-align: middle; width: 100px;">Диаметр<br/>профиля</th>
                                        <th scope="col" style="vertical-align: middle; width: 100px;">№<br/>заготовки</th>
                                        <th scope="col" style="vertical-align: middle; width: 100px;">Вес<br/>заготовки</th>
                                        <th scope="col" style="vertical-align: middle; width: 200px;">Дата<br/>взвешивания</th>
                                        <th scope="col" style="vertical-align: middle; width: 20px;">&nbsp;</th>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="height:600px; overflow:auto;">
                                    <table class="table table-hover">
                                        <tbody>
                                        @if(_loaded)
                                        {
                                            @foreach (IngotsWeights item in _ingotsList)
                                            {
                                                <tr>
                                                    <th class="align-middle" scope="row" style="width: 100px;">@item.Melt</th>
                                                    <td class="align-middle" style="width: 100px;">@item.Profile</td>
                                                    <td class="align-middle" style="width: 100px;">@item.Diameter.ToString("F1")</td>
                                                    <td class="align-middle" style="width: 100px;">@item.Position</td>
                                                    <td class="align-middle" style="width: 100px;">@item.BilletWeight</td>
                                                    <td class="align-middle" style="width: 200px;">@item.TimeBegin.ToString("dd-MM-yyyy HH:mm:ss")</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            _allowDownload = "none";
                                            <tr>
                                                <th class="align-middle" scope="row" style="width: 700px;">Данные по плавке не найдены</th>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
