@page "/productionShift"
@* inject ReportingService ReportingService *@
@* inject IJSRuntime JSRuntime; *@

<h1>
    &beta; Производство за смену
    <div class="spinner-border text-primary" role="status" style="visibility: @_loading">
        <span class="sr-only">Loading...</span>
    </div>
</h1>

<div class="alert alert-secondary mt-4" role="alert">
    <EditForm Model="this">
        <div class="form-row">
            <div class="form-group col-lg-2">
                <label for="dataStart">Начало периода</label>
                <InputDate id="dataStart" class="form-control" @bind-Value="@_timeBegin"/>
            </div>
            <div class="form-group col-lg-2">
                <label for="dataFinish">Конец периода</label>
                <InputDate id="dataFinish" class="form-control" @bind-Value="@_timeEnd"/>
            </div>
            <div class="form-group col-lg-2" style="text-align: left; vertical-align: middle;">
                <div style="height: 32px">&nbsp;</div>
                <div>
                    <button id="showReport" type="button" class="btn btn-primary" @onclick="@GetMelts">Сформировать</button>
                </div>
            </div>
            
            <div class="form-group col-md-auto">
                <div style="height: 32px">&nbsp;</div>
                <button id="showCurrentShift" type="button" class="btn btn-primary" @onclick="@GetCurrentShift">За текущую смену</button>
            </div>
            <div class="form-group col-md-auto" style="text-align: center; vertical-align: middle;">
                <div style="height: 32px">&nbsp;</div>
                <button id="showPrevShift" type="button" class="btn btn-primary" @onclick="@GetPrevShift">За предыдущую смену</button>
            </div>
        </div>
    </EditForm>
</div>


<div id="prodShift" style="display: @_showReport">
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        @* <th scope="col">№<br />посада</th> *@
                        <th scope="col" style="vertical-align: middle; width: 100px;">№<br/>плавки</th>
                        <th scope="col" style="vertical-align: middle; width: 180px;">Начало<br/>проката</th>
                        <th scope="col" style="vertical-align: middle; width: 180px;">Конец<br/>проката</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Профиль</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Диаметр<br />профиля</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Количество<br />заготовок</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Взвешено<br />заготовок</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Заготовок<br />в печи</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Выдано<br />из печи</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Возвратов</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Заготовок<br />прокатано</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Брак</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Взвешено<br />бунтов</th>
                        <th scope="col" style="vertical-align: middle; width: 15px;">&nbsp;</th>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div style="height:630px; overflow:auto;">
                    <table class="table table-hover">
                        <tbody>
                        @foreach (LandingData item in _landed)
                        {
                            if(item.FirstWeighting != DateTime.MinValue)
                            {
                                <tr>
                                    @* <th scope="row">@item.LandingId</th> *@
                                    <th scope="row" style="width: 100px;">@item.MeltNumber</th>
                                    <td style="width: 180px;">@item.FirstWeighting.ToString("dd-MM-yyyy HH:mm:ss")</td>
                                    <td style="width: 180px;">@item.LastWeighting.ToString("dd-MM-yyyy HH:mm:ss")</td>
                                    <td style="width: 100px;">@item.ProductProfile</td>
                                    <td style="width: 100px;">@item.Diameter</td>
                                    <td style="width: 100px;">@item.IngotsCount</td>
                                    <td style="width: 100px;">@item.WeightedIngots</td>
                                    <td style="width: 100px;">@item.IngotsInOwen</td>
                                    <td style="width: 100px;">@item.IngotsInMill</td>
                                    <td style="width: 100px;">@item.IngotsReturned</td>
                                    <td style="width: 100px;">@item.IngotsMilled</td>
                                    <td style="width: 100px;">@item.IngotsRejected</td>
                                    <td style="width: 100px;">@item.Weighted</td>
                                    @* <td class="align-middle" style="width: 90px;"> *@
                                    @*     <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" @onclick="@(() => { GetPrepareCoils(item.MeltNumber, item.Diameter); })">&#10050;</button> *@
                                    @* </td> *@
                                </tr>
                            }
                            else
                            {
                                <tr style="background-color: #f2f2f2">
                                    <th scope="col" style="vertical-align: middle; width: 100px;">&nbsp;</th>
                                    <th scope="col" style="vertical-align: middle; width: 180px;">&nbsp;</th>
                                    <th scope="col" style="vertical-align: middle; width: 180px;">&nbsp;</th>
                                    <th scope="col" style="vertical-align: middle; width: 100px;">&nbsp;</th>
                                    <th scope="col" style="vertical-align: middle; width: 100px;">&nbsp;</th>
                                    <th scope="col" style="vertical-align: middle; width: 100px;">&nbsp;</th>
                                    <th scope="col" style="vertical-align: middle; width: 100px;">&nbsp;</th>
                                    <th scope="col" style="vertical-align: middle; width: 100px;">&nbsp;</th>
                                    <th scope="col" style="vertical-align: middle; width: 100px;">&nbsp;</th>
                                    <th scope="col" style="vertical-align: middle; width: 100px;">&nbsp;</th>
                                    <th scope="col" style="vertical-align: middle; width: 100px;">&nbsp;</th>
                                    <th scope="col" style="vertical-align: middle; width: 100px;">&nbsp;</th>
                                    <th scope="col" style="vertical-align: middle; width: 100px;">&nbsp;</th>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>



