@page "/productionShift"
@* inject ReportingService ReportingService *@
@* inject IJSRuntime JSRuntime; *@

<h1>
    &beta; Производство за смену
    <div class="spinner-border text-primary" role="status" style="visibility: @_loading">
        <span class="sr-only">Loading...</span>
    </div>
</h1>

<div class="alert alert-secondary mt-4" role="alert">
    <EditForm Model="this">
        <div class="form-row">
            <div class="form-group col-lg-2">
                <label for="dataStart">Начало периода</label>
                <InputDate id="dataStart" class="form-control" @bind-Value="@_timeBegin"/>
            </div>
            <div class="form-group col-lg-2">
                <label for="dataFinish">Конец периода</label>
                <InputDate id="dataFinish" class="form-control" @bind-Value="@_timeEnd"/>
            </div>
            <div class="form-group col-lg-2" style="text-align: left; vertical-align: middle;">
                <div style="height: 32px">&nbsp;</div>
                <div>
                    <button id="showReport" type="button" class="btn btn-primary" @onclick="@GetMelts">Сформировать</button>
                </div>
            </div>
            
            <div class="form-group col-md-auto">
                <div style="height: 32px">&nbsp;</div>
                <button id="showCurrentShift" type="button" class="btn btn-primary" @onclick="@GetCurrentShift">За текущую смену</button>
            </div>
            <div class="form-group col-md-auto" style="text-align: center; vertical-align: middle;">
                <div style="height: 32px">&nbsp;</div>
                <button id="showPrevShift" type="button" class="btn btn-primary" @onclick="@GetPrevShift">За предыдущую смену</button>
            </div>
        </div>
    </EditForm>
</div>


<div id="returnsReport" style="display: @_showReport">
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        @* <th scope="col">№<br />посада</th> *@
                        <th scope="col" style="vertical-align: middle; width: 88px;">№<br/>плавки</th>
                        <th scope="col" style="vertical-align: middle; width: 88px;">Профиль</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Диаметр<br />профиля</th>
                        <th scope="col" style="vertical-align: middle; width: 129px;">Количество<br />заготовок</th>
                        <th scope="col" style="vertical-align: middle; width: 129px;">Взвешено<br />заготовок</th>
                        <th scope="col" style="vertical-align: middle; width: 129px;">Заготовок<br />в печи</th>
                        <th scope="col" style="vertical-align: middle; width: 129px;">Выдано<br />из печи</th>
                        <th scope="col" style="vertical-align: middle; width: 123px;">Возвратов</th>
                        <th scope="col" style="vertical-align: middle; width: 129px;">Заготовок<br />прокатано</th>
                        <th scope="col" style="vertical-align: middle; width: 118px;">Брак</th>
                        <th scope="col" style="vertical-align: middle; width: 114px;">Взвешено<br />бунтов</th>
                        @* <th scope="col" style="vertical-align: middle; width: 15px;">&nbsp;</th> *@
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div style="height:630px; overflow:auto;">
                    <table class="table table-hover">
                        <tbody>
                        @foreach (LandingData item in _landed)
                        {
                            <tr>
                                @* <th scope="row">@item.LandingId</th> *@
                                <th scope="row" style="width: 88px;">@item.MeltNumber</th>
                                <td style="width: 88px;">@item.ProductProfile</td>
                                <td style="width: 100px;">@item.Diameter</td>
                                <td style="width: 129px;">@item.IngotsCount</td>
                                <td style="width: 129px;">@item.WeightedIngots</td>
                                <td style="width: 129px;">@item.IngotsInOwen</td>
                                <td style="width: 129px;">@item.IngotsInMill</td>
                                <td style="width: 123px;">@item.IngotsReturned</td>
                                <td style="width: 129px;">@item.IngotsMilled</td>
                                <td style="width: 118px;">@item.IngotsBroken</td>
                                <td style="width: 114px;">@item.Weighted</td>
                                @* <td class="align-middle" style="width: 90px;"> *@
                                @*     <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" @onclick="@(() => { GetPrepareCoils(item.MeltNumber, item.Diameter); })">&#10050;</button> *@
                                @* </td> *@
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>



